busybox
udev
android-tools-adbd
parted
gdisk
alsa-utils
libmad0
wpasupplicant
dhcpcd5
iperf
strace
net-tools
iw
iputils-ping
tree
libpng16-16
libjpeg-dev
libegl1-mesa-dev
libgles2-mesa-dev
libgbm-dev
libudev-dev
libinput-dev
libpixman-1-dev
libxkbcommon-dev
wayland-protocols
libcairo2-dev
libdbus-1-dev
libxml2-dev
libpam0g-dev
libqt5widgets5
libqt5qml5
libatomic1
qtwayland5
qml-module-qtquick-window2
qml-module-qt-labs-settings
qml-module-qtquick-controls
